html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background: $primary-white;
  color: $text-color;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
// TODO: style title (h)

p {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  // object-fit: none;
}

.container {
  @extend %container;
}
