%container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid rgb(100, 100, 100);

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $mobile-middle) {
    width: $mobile-middle;
  }
  @media screen and (min-width: $tablet-min) {
    width: $tablet-min;
  }
  @media screen and (min-width: $tablet-middle) {
    width: $tablet-middle;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
%h {
  margin: 0;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: $title-color;
}

// ! оформление кнопок
// TODO: basic button styles
%button {
  min-width: 50px;
  height: 50px;
  padding: 10px 32px;
  border: none;
  outline: none;
  cursor: pointer;
  color: $primary-white;
  background-color: $text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87%;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  font-family: inherit;
  transition: all $timing-animation;
  &:hover,
  &:focus {
    color: $primary-white;
    background-color: $accent-color;
  }
}
