// ! палитра цветов макета
$primary-white: #ffffff;
$title-color: #212121;
$text-color: #757575;
$btn-color: #f5f4fa;
// ! accent
$accent-color: #ff7525;
// ! timer animation
$timing-animation: 600ms cubic-bezier(0.4, 0, 0.2, 1);
// ! набор шрифтов
$font-family: "Roboto", "Raleway", "Lato", "Open Sans", sans-serif;
// ! breakpoints
$mobile: 320px;
$mobile-middle: 480px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-middle: 980px;
$tablet-max: 1199px;
$desktop: 1200px;
